*{
  margin:0px;
  padding:0px;
}

html{
  scroll-behavior: smooth;
}

body{
  background-image:url('image/d1.jpg');
  background-size: 100% 100%;
 background-repeat: no-repeat;
   
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
    .wrapper{
   margin-top:80;
   width:100%;
   height:50px;
   color:white;
   border-bottom:2px solid black;
   background-image:url('image/d1.jpg');
  background-size: 100% 100%;
 background-repeat: no-repeat;
  
 
   
 }   
 .wrapper i{
   font-size:35px;
   float: left;
   margin-top:10px;
   color:cyan;
 }
  
  .wrapper h2{
    font-size:20px;
    position:absolute;
    top:15px;
    left:80px;
    color:cyan;
    font-family:fantasy;
  }
  
  #sidebar{
    width:80%;
    height:620px;
   background-image:url('image/d1.jpg');
  background-size: 100% 100%;
 background-repeat: no-repeat;
  
    color:cyan;
    display:none;
    justify-content:center;
    position:absolute;
    z-index:1;
    top:50px;
  }
  
  #sidebar li{
    margin-top:15px;
    margin-bottom:25px;
    list-style-type: none;
    display:block;
    font-size:20px;
     color:cyan;
    
  }
  #sidebar ul{
    position:absolute;
    top:10px;
    left:50px;
  }
  
  #sidebar a{
    color:#16F529;
    text-decoration-line: none;
    font-family:fantasy;
  }
  
 
  .section1{
    width:100%;
    height:850px;
   position:relative;
   top:0px;
   font-family:fantasy;
   color:white;
  background-image:url('image/d1.jpg');
  background-size: 100% 100%;
 background-repeat: no-repeat;
 
   
  } 

  
  .section1 img{
   
    border-radius:50%;
    margin-top:50px;
    border:2px solid cyan;
    box-shadow:0 0 25px cyan,
    0 0 25px cyan;
    
  }
  
  .dwn{
    width:150px;
    height:50px;
    background:transparent;
    color: cyan;
    border:2px solid cyan;
    box-shadow:0 0 25px cyan,
    0 0 25px cyan;
  }
  
  .dwn:hover{
    0 0 5px cyan,
    0 0 25px cyan,
    0 0 50px cyan,
    0 0 100px cyan,
    0 0 200px cyan;
    color:black;
    background-color:cyan;
  }
  
  section1 h2{
    text-shadow:5px 5px #16F529;
  }
    article{
      margin:10px;
      height:200px;
      padding:10px;
      border:1px solid grey;
      font-weight:bolder;
      border-top:15px solid cyan;
      border-radius:10%;
      border-bottom:15px solid cyan;
    
    }
    

  .introduction{
    width:100%;
    height:400px;
    position:relative;
  background-color:black;

  }  
  
  .introduction h3{
    font-family:fantasy;
  color:grey;  
  position:absolute;
  top:20px;
  left:0px;
  
    }
    
  .coding{
    width:100%;
    height:650px;
    font-family:fantasy;
    color:cyan;
    background-image:url('image/d1.jpg');
  background-size: 100% 100%;
 background-repeat: no-repeat;
    border-bottom:2px solid cyan;
    border-top:2px solid cyan;
  }  
  

  
  .livewebsites figcaption{
  
    margin-bottom:40px;
    color:#16F529;
    font-size:20px;
    font-weight:bolder;
  }
  
.livewebsites img{
  border-radius:40px;
  border:2px solid white;
}

.business{
  background-image:url('image/d1.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width:100%;
  color:cyan;
  color:#16F529;
}
.business ol{
  color:cyan;
}

.business li{
  font-size: 20px;
}


.business h3{
  margin-top:15px;
  color:cyan;
}

.business h4{
  color:cyan;
}

.business summary{
 font-size:20px;
  
}

.business img{
  border-radius:40%;
}
.contactUs{
  margin-top:100px;
  margin-bottom:30px;
  background-image:url("image/d1.jpg");
  background-size:100% 100%;
  background-repeat: no-repeat;
}


.contactUs h2{
  color:cyan;
}  

.wrapbox{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: black;
}

.wrapbox img{
  margin:auto;
}

@media all and (min-width:768px){
  .wrapper h2{
    color:cyan;
    
  }
	.article h4{
		font-size:50px;
		
	}
}

.table{
  display: block;
  width:100%;
  height:900px;
  color:white;
    background-image:url('image/d1.jpg');
  background-size: 100% 100%;
 background-repeat: no-repeat;
}
.box0{
  width:100%;
  height:550px;
  background-image:url("image/bgpic4.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color:white;
}

.box2{
  width:100%;
  height:430px;
  background-image:url("image/service.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.wrapperimp{
       display: inline-flex;
       margin-top:20px;
   margin-bottom:60px;
      
     }
     
      .static-text{
       font-size:30px;
     }
     
     .wrapperimp .dynamic-texts{
       height:40px;
       line-height:40px;
      
      overflow: hidden;
     margin-left:25px;
     }
    
  
     .dynamic-texts li{
       color:cyan;
       list-style: none;
       font-size:30px;
       font-weight: 500;
       position:relative;
       top:0px;
       animation:slide 6s steps(4) infinite;
       
     }
     
     @keyframes slide{
       100%{
         top:-320px;
       }
     }
     
     .dynamic-texts li span{
       position:relative;
     }
     
     .dynamic-texts li span::after{
       content: "";
       position:absolute;
       left:0;
       width:100%;
       height:100%;
       background:black;
       border-left:2px solid cyan;
       animation:typing 1.5s steps(13) infinite;
     }
     
     @keyframes typing{
       100%{
         left:100%;
         margin:0 -35px 0 35px;
       }
     }


@media all and (min-width:768px){
  
  
  .box1{
    
   
    display:flex;
    justify-content:space-evenly;
    align-items: center;
  }
  
  #work{
    background-image:url('image/d1.jpg');
  background-size: 100% 100%;
 background-repeat: no-repeat;
    width:100%;
  }
  
  .table{
    width:100%;
    height:500px;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    
    background-image:url('image/d1.jpg');
  background-size: 100% 100%;
 background-repeat: no-repeat;
  }
  
  .box0{
    width:50%;
    height:500px;
  }
  
  
  .box2 {
    width: 50%;
    height: 500px;
  }
}

.enbtn {
  width:150px;
  height:50px;
  background:transparent;
  border:2px solid cyan;
  color:cyan;
  border-radius:20%;
  box-shadow:0 0 25px cyan,
  0 0 25px cyan;
}

.enbtn:hover{
  100px 0 5px cyan,
  0 0 25px cyan,
  0 0 50px cyan,
  0 0 100px cyan,
  0 0 200px cyan;
  color:black;
  background-color:cyan;
}


.work{
  
  width:100%;
  color:white;
background-image:url('image/d1.jpg');
  background-size: 100% 100%;
 background-repeat: no-repeat;
  padding-bottom:20px;
  margin-bottom:20px;
  font-family:fantasy;
  color:cyan;
}

h3{
  color:#16F529;
}

.exp1{
  margin:auto;
  width:310px;
  border:2px solid cyan;
  margin-bottom:15px;
  border-radius:10px;
  
}

.exp1 i{
  font-size:100px;
  margin-bottom: 20px;
}

.work button{
  padding:10px;
  height:35px;
  border-radius: 15px;
  background-color: black;
  color:white;
  
}

.exp2{
  margin:auto;
  width:310px;
  border:2px solid cyan;
  margin-bottom:15px;
  border-radius:10px;
  
}



.exp2 i{
font-size:100px;
  margin-bottom: 20px;

  
}


.exp3{
  margin:auto;
  width:310px;
  border:2px solid cyan;
  margin-bottom:15px;
  border-radius:10px;
  padding-bottom:20px;
  
}


.exp3 i{
font-size:100px;
  margin-bottom: 20px;

  
}

 @media only screen and (min-width: 768px){
    
    
    .body{
      background-image:url("image/d1.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
    }
    
    
    .universe{
      width:100%;
      height:950px;
      display:flex;
      justify-content:center;
      align-items:flex-start;
      
    }
    
    .stars{
      width:300px;
      height:900px;
      background: red;
      border:2px solid yellow;
    }
  }
  
  .body{
    background-image:url("image/d1.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
  }
  
  .universe{
    width:100℅;
   height:1500px;
    display:none;
   
  }
 
  .stars{
      width:300px;
      height:1000px;
      background-image:url("image/d1.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
      margin:10px;
      border:2px solid yellow;
    margin:auto;
    border:2px solid cyan;
    margin-bottom:10px;
    margin-top:50px;
  }
    
#demo h4{
  color:cyan;
  background:black;
  border-radius:30px;
}

#demo img{
  border-radius:20px;
}

#demo p{
  font-size:18px;
  color:cyan;
 
}

.dabao{
  width:100%;
  height:60px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.dabao button{
  width:130px;
  height:50px;
  padding:10px;
  border:2px solid cyan;
  background:transparent;
  color:cyan;
}

.dabao button:hover{
  100px 0 5px cyan,
  0 0 25px cyan,
  0 0 50px cyan,
  0 0 100px cyan,
  0 0 200px cyan;
  color:black;
  background-color:cyan;
}

}